<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
  <%= @user.errors.count %>errors
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model:@user, local:true do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>Image</p>
  <%= f.attachment_field :profile_image %>
  <p>Introduction</p>
  <%= f.text_area :introduction %>
  <br>
  <%= f.submit'Update User', class:"btn btn-secondary" %>
  <% end %>
    </div>
  </div>
</div>